body {
  background-color: black;
}

#container {
  display: flex;
  flex-direction: column;
  min-width: 490px;
  background-color: black;
  outline: 1px solid #787274;
  padding: 5px;
}
/*-------------------------------------*/
#top {
  display: flex;
  flex-direction: column;
  background-color: #015467;
  padding: 5px;
  margin: 5px;
}

#terminal {
  background-color: black;
  color: #5CCCCC;
  height: 60px;
  resize: none;

}

#btnEnter {
  height: 40px;
}

.top {
  width: 50%;
  align-self: center;
  min-width: 434px;
  margin: 5px;
  border: 1px white solid;
}
/*-------------------------------------------*/
#middle {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  background-color: #05819E;
  margin: 5px;
  padding: 5px;
}

#start {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  background-image: url("../img/map.jpg");
  height: 440px;
  width: 440px;
  border: 2px #5CCCCC solid;
}

.name {
  align-self: center;
  height: 40px;
  background-color: black;
  color: #5CCCCC;
  border: 1px white solid;
  margin: 5px;
}

.field {
  display: none;
  background-image: url("../img/map.jpg");
  height: 440px;
  width: 440px;
  margin: 5px;
}

#home {
  border: 2px #00BB3F solid;
}

#enemy {
  border: 2px #FF7F00 solid;
}

.btn {
  font-size: 30px;
  font-weight: bold;
  opacity: 1.0;
  border: 2px solid black;
  float: left;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 35px;
}
/*-------------------------------------------*/


#down {
  background-color: #015467;
  height: 80px;
  padding: 10px;
  margin: 5px;
}