body {
  background-color: black;
}
.cr {


  min-width: 490px;
  outline: 1px solid #787274;
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
}

.ml {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #05819E;
  padding: 10px;
  margin: 10px 0px;
}

.st {
  /*background-image: url("../img/cell.jpg")*/
  background-image: url("../img/map.jpg");
  /*background: #B40098;*/
  height: 440px;
  width: 440px;
  border: 1px white solid;
  /*margin-left: auto;
  margin-right: auto;*/
  display: grid;
  justify-content: center;
  align-content: center;

}

.hm {
  background-image: url("../img/map.jpg");
  /*background: #FF8100;*/
  height: 440px;
  width: 440px;
  display: none;
  text-align: center;
  border: 2px #00BB3F solid;
  margin: 5px;
}

.en {
  background-image: url("../img/map.jpg");
  /*background: #5CCCCC;*/
  height: 440px;
  width: 440px;
  display: none;
  text-align: center;
  border: 2px #FF7F00 solid;
  margin: 5px;
}

.tp {
  padding: 5px;
  background: #015467;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  align-content: center;
}

.tr {
  width: 434px;
  height: 60px;
  max-width: 600px;
  background-color: black;
  color: #5CCCCC;
  border: 1px white solid;
  margin: 5px;
}

.ent {
  width: 440px;
  max-width: 600px;
  height: 40px;
  border: 1px white solid;
  margin: 5px;
}

.dn {
  height: 80px;
  padding: 5px;
  background: #015467;
}

.btn {
  font-size: 30px;
  font-weight: bold;
  opacity: 1.0;
  border: 2px solid black;
  float: left;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 35px;
}

#userName {
  /*width: 434px;*/
  height: 40px;
  background-color: black;
  color: #5CCCCC;
  border: 1px white solid;
  margin: 5px;
}

#gameName {
  /*width: 434px;*/
  height: 40px;
  background-color: black;
  color: #5CCCCC;
  border: 1px white solid;
  margin: 5px;
}
